body {
	margin: 0;
	height: 100vh;
	width: 100vw;
	background: url(dirt.png);
	background-size: 64px 64px;
	image-rendering: pixelated;
	overflow: hidden;
	font-family: "Open Sans";
	display: flex;
	justify-content: center;
	align-items: center;
}
body::before{
	z-index: -1;
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	height: 64px;
	width: 100vw;
	background: url(grass.png);
	background-size: 64px 64px;
	image-rendering: pixelated;
}
h1 {
	color: white;
	text-shadow: black 0px 0px 25px;
	text-align: center;
	font-size: 30px;
	font-weight: bold;
}
